@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Lora:wght@400;500&family=Open+Sans:wght@800&family=Poppins:wght@300&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.btn-primary{
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
}
ul li a{
    text-decoration: none;
    margin-left: 30px;
    color: var(--dark-02, #424242);
    font-weight: 500;
}
nav h3{
    color: var(--dark-01, #131313);
    font-size: 3rem;
    font-weight: 700;
}
.banner-content{
 max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: var(--dark-01, #131313);
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    color: var(--dark-03, #727272);
    margin-bottom: 30px;
}
.banner-section img{
    width: 100%;
    margin-top: 50px;
}


main{
    max-width: 1440px;
    margin: 80px auto;
}
.feature-container{
    display: flex;
    align-items: center;
    margin: 0 10%;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.feature-contant{
    padding-left: 70px;
    padding-right: 70px;
}
.feature-title{
    font-size: 3rem;
}
.quick{
    color: var(--dark-03, #727272);
    font-weight: 500;
}
.of{
    color: var(--dark-01, #131313);
    font-weight: 700;
}
.feature{
    color: #FF900E;
    font-weight: 700;
}
.feature-description{
    color: var(--dark-03, #727272);
}


.fact-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.fact-description{
    color: #727272;
    width: 30%;
}
.fact-img{
    border: 1px solid #FF900E;
    border-radius: 5px;
    text-align: center;
    padding: 1.25rem;
}
.fact-img-section{
    display: flex;
    justify-content: space-around;
    margin-top: 7rem;
}
.fact-img-title{
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-top: -5px;
}
.fact-img-descrip{
    color: #727272;
    size: 1.25rem;
    font-weight: 600;
    margin-top: -25px;
}
.sponsor-title{
    color: var(--dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;
}
.sponsor-description{
    color: #727272;
    width: 542px;
    margin: 0 auto;
}
.sponsor-section{
    text-align: center;
    margin-top: 10rem;
}
.sponsor-img{
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-around;
}
.image-section{
    display: flex;
    margin-top: 8.2rem;
    gap: 9rem;
    align-items: center;
    margin-bottom: 8.2rem;
}
.img-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 1rem;
}
.primary-description{
    color: #727272;
}
.box{
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
padding: 2rem;
margin-bottom: 1rem;
}
.badge{
    width: 320px;
height: 200px;
border-radius: 8px;
background: #FF900E;
text-align: center;
align-items: center;
position: relative;
bottom: 8rem;
right: 5rem;
}
.badge-title{
    color: #FFF;
text-align: center;
font-size: 4rem;
font-weight: 700;
margin-bottom: 0px;
padding-top: 2rem;
}
.badge-des{
    color: #FFF;
font-size: 25px;
font-weight: 500;
margin-top: 0px;
}
.right{
    padding-top: 11rem;
}
footer{
    height: 100px;
    border-radius: 8px;
    background: #FFF4E7;
    margin: 3.2rem 10% 10rem 10%;
    text-align: center;
}
.footer-content{
    color: var(--dark-02, #424242);
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
}







@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav, .feature-container ,.image-section{
        flex-direction: column;
        text-align: center;
    }
    ul{padding-left: 0px;
    }
    .feature-img{
        grid-template-columns: 1fr;
    }
    .feature-contant{
        padding: 0 10px;
    }
    .fact-section{
        text-align: center;
    }
    .fact-img-section{
flex-direction: column;
gap: 10px;
    }
    .fact-description{
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .sponsor-img{
        flex-direction: column;
        width: 150px;
        margin: 0 auto;
        margin-top: 30px;
        gap: 1rem;
    }
    .sponsor-description{
        width: auto;
    }
    .sponsor-title{
        width: auto;
    }
    .sponsor-section{
        width: auto;
    }
    .right img{
        width: auto;
        height: 30rem;
    }
    .badge{
        position: static;
        margin-left: 1rem;
    }
    footer{
        margin-left: 5%;
        margin-right: 5%;
    }
    .footer-content{
        padding-top: 0%;
    }

}

@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;}
        nav, .feature-container, .image-section{
            flex-direction: column;
            text-align: center;
        }
        ul li a{
            margin: 10px;
        }
        .feature-contant{
            padding: 0;
        }
        .feature-img{
            gap: 5px;
        }
        .fact-section{
            text-align: center;
        }
        .fact-description{
            margin: 0 auto;
            margin-bottom: 15px;
        }
        .fact-img-section{
            gap: 10px;
        }
        .sponsor-img{
            flex-direction: column;
            width: 200px;
        margin: 0 auto;
        margin-top: 30px;
        gap: 1rem;
        }
        .right img{
            width: auto;
            height: 50rem;
        }
            .badge{
                position: static;
                margin: 0 auto;
            }
            .footer-content{
                padding-top: 0%;
            }
}